RewriteEngine on
RewriteRule ^charts/(20[0-9][0-9]-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1|2][0-9]|3[0|1]))_(20[0-9][0-9]-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1|2][0-9]|3[0|1]))/((?:[1-9][0-9]{0,2}|1000))$ charts.php?start=$1&end=$2&k=$3 [L,NC]

